<% unless comment.parent_id ==-1 || !comment.persisted? %>
  <div class="card">
    <div class="card-body">
    <%= User.find_by(id: comment.user_id).name + ": " + comment.body %>
    <%= link_to 'reply', new_post_comment_path(@post.becomes(Post), parent_id: comment.id), remote: true, class: 'd-block' %>
      </div>
  </div>
  <% if comment.replies.any? %>
    <% comment.replies.each do |reply| %> 
      <%= simple_format "--> " + User.find_by(id: reply.user_id).name + ": " + reply.body %>
    <% end %>
  <% end %>
  <div id="reply-form-<%= comment.id %>"></div>
<% end %>